{% if connectedDevices|length %}
<div id="{% if isProfile %}profiles{% else %}history{% endif %}-of-connected-devices">
	<h3>
		{% if isProfile %}Profiles{% else %}History{% endif %} of connected devices
	</h3>
	{% for key, device in connectedDevices %}
		<a href="{{ path("homeFromHistory", {"connectedDeviceId": device.getId()} ) }}"
		   class="device-item"
		   title="Device: {{ device.getHost() }}:{{ device.getPort() }}, User: {{ device.getUsername() }}, Last connection: {{ device.getAccessTime()|date("d.m.y h:i") }}"
		   data-device-id="{{ device.getId() }}">
			<span data-action="{{ path("removeFromHistoryOrProfile", {"connectionId": device.getId()} ) }}" class="icon delete red" title="Remove device from list">x</span>
			{% if isProfile == false %}<span data-action="{{ path("addFromHistoryToProfiles", {"connectionId": device.getId()} ) }}" class="icon addToProfiles green" title="Add to profiles">+</span>{% endif %}
			{{ device.getHost() }}:{{ device.getPort() }}
		</a>
	{% endfor %}
</div>
{% endif %}
