{% extends 'FITNetopeerBundle::layout.html.twig' %}
{% block title %}Section {% if sectionName is defined and not(sectionName is empty) %}- {{sectionName}}{% endif %}{% endblock title %}

{% block topPart %}
	{% if (hideColumnControl is not defined) or (hideColumnControl is defined and hideColumnControl != true) %}
		<div class="top-part">
			<strong>Show as:</strong>
			<a href="{{ path('changeColumnLayout', {"newValue": "true"}) }}">Single column</a> |
			<a href="{{ path('changeColumnLayout', {"newValue": "false"}) }}">Double column</a>
		</div>
	{% endif %}
{% endblock topPart %}

{% block state %}
{% block singleContent %}
	<h1>Config &amp; State data</h1>
	{% if stateArr is defined and not(stateArr is empty) %}
		{#
		<form action="" method="post" {{ form_enctype(formState) }} class="filter" name="formState">
			{{ form_widget(formState) }}
		    <input type="submit" value="Get" />
		</form>
		#}
		<form action="#" method="post" name="formConfigData">
			<div class="root">
				{% set iterator = 1 %}
				{% for key, element in stateArr %}
					{% include 'FITNetopeerBundle:State:parent.html.twig' with {'element': stateArr.current(), 'level': 0, 'xpath': '/*', 'iterator': iterator} %}
					{% set iterator = iterator + 1 %}
				{% endfor %}

				<input type="submit" value="Save config" />
			</div>
		</form>
	{% else %}
		<div class="alert info">
			No results found.
		</div>
	{% endif %}
{% endblock singleContent %}
{% endblock state %}

{% block config %}
	<h1>Config data only</h1>
	{% if configArr is defined and not(configArr is empty) %}
		{#
		<form action="" method="post" {{ form_enctype(formConfig) }} class="filter" name="formConfig">
			{{ form_widget(formConfig) }}
		    <input type="submit" value="Get" />
		</form>
		#}
		<form action="#" method="post" name="formConfigData">
			<div class="root">
				{% set iterator = 1 %}
				{% for key, element in stateArr %}
					{% include 'FITNetopeerBundle:Config:parent.html.twig' with {'element': stateArr.current(), 'level': 0, 'xpath': '/*', 'iterator': iterator} %}
					{% set iterator = iterator + 1 %}
				{% endfor %}

				<input type="submit" value="Save config" />
			</div>
		</form>
	{% else %}
		<div class="alert info">
			No results found.
		</div>
	{% endif %}
{% endblock config %}
