<div class="leaf-line
	{% if addLevel is defined and addLevel == true %} level-{{level}}{% endif %} 
	{% if element.attributes.eltype is defined %}
		type-{{element.attributes.eltype}}
	{% else %}
		type-undefined
	{% endif %}
	{% if not(element.attributes.config is defined and element.attributes.config == "true") %}
		state
	{% endif %}
">
	<span class="label">
		<span class="dots"></span>
		{% if element.attributes.description is defined %}
			<span class="tooltip help">
				<span class="icon-help">?</span>
				<span class="tooltip-description">{{element.attributes.description}}</span>
			</span>
		{% endif %}
		<span class="label-cover {% if element.attributes.description is defined %}has-tooltip{% endif %}">
			<strong>{{key}}</strong>
			{% if key != element.name %}
				{{element.name}}
			{% endif %}
			{% if element.attributes.mandatory is defined %}
				<span class="mandatory">*</span>
			{% endif %}
		</span>
	</span>
	{% if element.0 is defined %}
		<span class="value">{{element.0}}</span>
	{% else %}
		<span class="value"></span>
	{% endif %}
	{#
	<br/>
	{{dump(element.attributes)}}
	#}
</div>
